In [1]:
import pandas as pd

In [2]:
df_ret = pd.read_csv('MIS_1001_AUS_DSM_Retailer_list_Details_202505-UTF-8.csv', encoding='utf-8')
df5 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250525-UTF-8.csv', encoding='utf-8')
df6 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250625-UTF-8.csv', encoding='utf-8')
df7 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250725-UTF-8.csv', encoding='utf-8')
df8 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250825-UTF-8.csv', encoding='utf-8')
df9 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250925-UTF-8.csv', encoding='utf-8')

C:\Users\JD\AppData\Local\Temp\ipykernel_4224\3823941484.py:3: DtypeWarning: Columns (17,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250625-UTF-8.csv', encoding='utf-8')
C:\Users\JD\AppData\Local\Temp\ipykernel_4224\3823941484.py:4: DtypeWarning: Columns (17,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250725-UTF-8.csv', encoding='utf-8')
C:\Users\JD\AppData\Local\Temp\ipykernel_4224\3823941484.py:5: DtypeWarning: Columns (17,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250825-UTF-8.csv', encoding='utf-8')
C:\Users\JD\AppData\Local\Temp\ipykernel_4224\3823941484.py:6: DtypeWarning: Columns (17,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv('MIS_1001_AUS_MLY_RETAILER_20250925-UTF-8.csv', encoding='utf-8')

#### Shape

In [3]:

print(df_ret.shape)
print(df5.shape)
print(df6.shape)
print(df7.shape)
print(df8.shape)
print(df9.shape)

(25350, 30)
(734, 93)
(26087, 93)
(26088, 93)
(26090, 93)
(26088, 93)

### Columns

In [4]:
df9.columns

Index(['ISSUE1_INVALID RETAILER STATUS', 'ISSUE2_INVALID RETAILER MODE',
       'ISSUE3_INVALID WHITELIST NUMBER', 'ISSUE4_INVALID VIRTUAL NUMBER',
       'ISSUE5_SIM BLOCKED', 'STARTDATE', 'ENDDATE', 'CREATEDBY',
       'DATEOFCREATION', 'OFFMGRID', 'ACCMGRID', 'HOTSPOTID', 'RETAILERID',
       'SHOPTYPE', 'CONTACTPERSON', 'FNAME', 'MOBILENO', 'LANDLINENO',
       'HOUSENO', 'STREET', 'CITY', 'POSTCODE', 'EMAIL', 'VAT_NO', 'RETID',
       'RETAILERMODE', 'RETAILER_STATUS', 'RETAILER_MSISDN', 'WHITEIST_STATUS',
       'REGISTRATIONS', 'TOTALSIM_TILLDATE', 'TOTALSIM_MONTH',
       'NOOFACTIVATIONS_ALL', 'NORMAL_NOOFACTIVATIONS', 'NORMAL_TOPUP_AMOUNT',
       'NORMAL_PRE_B1_AMOUNT', 'NORMAL_ELIGIBLE_AMOUNT',
       'NORMAL_PRE_B2_LESS30', 'NORMAL_PRE_B2_GRT30', 'NORMAL_PRE_B3_LESS30',
       'NORMAL_PRE_B3_GRT30', 'NORMAL_PRE_B4_LESS30', 'NORMAL_PRE_B4_GRT30',
       'NORMAL_ZERO_B1_OL_AMOUNT', 'NORMAL_ZERO_B2_OL_AMOUNT',
       'NORMAL_ZERO_B3_OL_AMOUNT', 'NORMAL_ZERO_B1_OFF_AMOUNT',
       'NORMAL_ZERO_B2_OFF_AMOUNT', 'NORMAL_ZERO_B3_OFF_AMOUNT',
       'BLOCKED_NOOFACTIVATIONS', 'BLOCKED_TOPUP_AMOUNT',
       'BLOCKED_PRE_B1_AMOUNT', 'BLOCKED_ELIGIBLE_AMOUNT',
       'BLOCKED_PRE_B2_LESS30', 'BLOCKED_PRE_B2_GRT30',
       'BLOCKED_PRE_B3_LESS30', 'BLOCKED_PRE_B3_GRT30',
       'BLOCKED_PRE_B4_LESS30', 'BLOCKED_PRE_B4_GRT30',
       'BLOCKED_ZERO_B1_OL_AMOUNT', 'BLOCKED_ZERO_B2_OL_AMOUNT',
       'BLOCKED_ZERO_B3_OL_AMOUNT', 'BLOCKED_ZERO_B1_OFF_AMOUNT',
       'BLOCKED_ZERO_B2_OFF_AMOUNT', 'BLOCKED_ZERO_B3_OFF_AMOUNT',
       'TOTAL_NOOFACTIVATIONS', 'TOTAL_TOPUP_AMOUNT', 'CALC_TOPUP1',
       'PRE_B1_AMOUNT', 'PRE_B2_LESS30', 'PRE_B2_GRT30', 'PRE_B3_LESS30',
       'PRE_B3_GRT30', 'PRE_B4_LESS30', 'PRE_B4_GRT30', 'ZERO_B1_OL_AMOUNT',
       'ZERO_B2_OL_AMOUNT', 'ZERO_B3_OL_AMOUNT', 'ZERO_B1_OFF_AMOUNT',
       'ZERO_B2_OFF_AMOUNT', 'ZERO_B3_OFF_AMOUNT', 'LAST_BUNDLE_COUNT', 'TIER',
       'ELIGIBLE_AMOUNT', 'LAST_MONTH_BUNDLE_ACTIVATION',
       'CURRENT_MONTH_RENEWAL', 'RENEWAL_PERCENTAGE', 'ACTIVATIONBONUS',
       'ZERO_BUNDLE_ONLINE_COMM', 'ZERO_BUNDLE_OFFLINE_COMM',
       'Onboarding_Incentive', 'BUNDLE_COMM', 'TOTAL_COMM'],
      dtype='object')

### Data Types

In [12]:
print(df8.dtypes)

ISSUE1_INVALID RETAILER STATUS      object
ISSUE2_INVALID RETAILER MODE        object
ISSUE3_INVALID WHITELIST NUMBER     object
ISSUE4_INVALID VIRTUAL NUMBER       object
ISSUE5_SIM BLOCKED                  object
                                    ...
ZERO_BUNDLE_ONLINE_COMM            float64
ZERO_BUNDLE_OFFLINE_COMM           float64
Onboarding_Incentive               float64
BUNDLE_COMM                        float64
TOTAL_COMM                         float64
Length: 93, dtype: object

### Missing Values of All Data Frames

In [13]:
# Let's assume your DataFrames are named df5, df6, df7, df8, df9

dataframes = {
    'df5': df5,
    'df6': df6,
    'df7': df7,
    'df8': df8,
    'df9': df9
}

# Loop through each column (assuming all dataframes share the same columns)
for column in df9.columns:
    print("=" * 120)
    print(f"{column:^120}")   # nicely centered column name
    print("=" * 120)
    
    for name, df in dataframes.items():
        total_rows = len(df)
        dtype = df[column].dtype
        unique_values = df[column].nunique(dropna=True)
        null_count = df[column].isnull().sum()
        null_percent = (null_count / total_rows) * 100

        # Check if numeric and count zeros
        zero_count = df[column].eq(0).sum() if dtype in ['float64', 'int64'] else "N/A"
        
        print(f"{name:<5} → Rows: {total_rows:<7} | Nulls: {null_count:<6} | "
              f"Missing %: {null_percent:6.2f}% | Dtype: {str(dtype):<8} | "
              f"Unique: {unique_values:<8} | Zero Count: {zero_count}")
    
    print("\n")

========================================================================================================================
                                             ISSUE1_INVALID RETAILER STATUS
========================================================================================================================
df5   → Rows: 734     | Nulls: 423    | Missing %:  57.63% | Dtype: object   | Unique: 2        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 22892  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 22893  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 22895  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 22894  | Missing %:  87.76% | Dtype: object   | Unique: 2        | Zero Count: N/A


========================================================================================================================
                                              ISSUE2_INVALID RETAILER MODE
========================================================================================================================
df5   → Rows: 734     | Nulls: 423    | Missing %:  57.63% | Dtype: object   | Unique: 2        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 22892  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 22893  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 22895  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 22894  | Missing %:  87.76% | Dtype: object   | Unique: 2        | Zero Count: N/A


========================================================================================================================
                                            ISSUE3_INVALID WHITELIST NUMBER
========================================================================================================================
df5   → Rows: 734     | Nulls: 423    | Missing %:  57.63% | Dtype: object   | Unique: 1        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 22892  | Missing %:  87.75% | Dtype: object   | Unique: 1        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 22893  | Missing %:  87.75% | Dtype: object   | Unique: 1        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 22895  | Missing %:  87.75% | Dtype: object   | Unique: 1        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 22894  | Missing %:  87.76% | Dtype: object   | Unique: 1        | Zero Count: N/A


========================================================================================================================
                                             ISSUE4_INVALID VIRTUAL NUMBER
========================================================================================================================
df5   → Rows: 734     | Nulls: 423    | Missing %:  57.63% | Dtype: object   | Unique: 2        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 22892  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 22893  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 22895  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 22894  | Missing %:  87.76% | Dtype: object   | Unique: 2        | Zero Count: N/A


========================================================================================================================
                                                   ISSUE5_SIM BLOCKED
========================================================================================================================
df5   → Rows: 734     | Nulls: 423    | Missing %:  57.63% | Dtype: object   | Unique: 2        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 22892  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 22893  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 22895  | Missing %:  87.75% | Dtype: object   | Unique: 2        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 22894  | Missing %:  87.76% | Dtype: object   | Unique: 2        | Zero Count: N/A


========================================================================================================================
                                                       STARTDATE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 1        | Zero Count: 0
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0


========================================================================================================================
                                                        ENDDATE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 1        | Zero Count: 0
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0


========================================================================================================================
                                                       CREATEDBY
========================================================================================================================
df5   → Rows: 734     | Nulls: 1      | Missing %:   0.14% | Dtype: object   | Unique: 72       | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 6121   | Missing %:  23.46% | Dtype: object   | Unique: 159      | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 6121   | Missing %:  23.46% | Dtype: object   | Unique: 159      | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 6123   | Missing %:  23.47% | Dtype: object   | Unique: 159      | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 6121   | Missing %:  23.46% | Dtype: object   | Unique: 159      | Zero Count: N/A


========================================================================================================================
                                                     DATEOFCREATION
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 504      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 1881     | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 1881     | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 1881     | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 1881     | Zero Count: N/A


========================================================================================================================
                                                        OFFMGRID
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 3        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 9        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 9        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 9        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 9        | Zero Count: N/A


========================================================================================================================
                                                        ACCMGRID
========================================================================================================================
df5   → Rows: 734     | Nulls: 1      | Missing %:   0.14% | Dtype: object   | Unique: 6        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 7007   | Missing %:  26.86% | Dtype: object   | Unique: 24       | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 7007   | Missing %:  26.86% | Dtype: object   | Unique: 24       | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 7009   | Missing %:  26.86% | Dtype: object   | Unique: 24       | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 7007   | Missing %:  26.86% | Dtype: object   | Unique: 24       | Zero Count: N/A


========================================================================================================================
                                                       HOTSPOTID
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 23       | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 953    | Missing %:   3.65% | Dtype: object   | Unique: 82       | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 953    | Missing %:   3.65% | Dtype: object   | Unique: 82       | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 955    | Missing %:   3.66% | Dtype: object   | Unique: 82       | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 953    | Missing %:   3.65% | Dtype: object   | Unique: 82       | Zero Count: N/A


========================================================================================================================
                                                       RETAILERID
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 734      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 26087    | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 26088    | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: object   | Unique: 26088    | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 26088    | Zero Count: N/A


========================================================================================================================
                                                        SHOPTYPE
========================================================================================================================
df5   → Rows: 734     | Nulls: 3      | Missing %:   0.41% | Dtype: object   | Unique: 11       | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 940    | Missing %:   3.60% | Dtype: object   | Unique: 13       | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 940    | Missing %:   3.60% | Dtype: object   | Unique: 13       | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 942    | Missing %:   3.61% | Dtype: object   | Unique: 13       | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 940    | Missing %:   3.60% | Dtype: object   | Unique: 13       | Zero Count: N/A


========================================================================================================================
                                                     CONTACTPERSON
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 683      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 927    | Missing %:   3.55% | Dtype: object   | Unique: 8156     | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 927    | Missing %:   3.55% | Dtype: object   | Unique: 8157     | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 929    | Missing %:   3.56% | Dtype: object   | Unique: 8157     | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 927    | Missing %:   3.55% | Dtype: object   | Unique: 8157     | Zero Count: N/A


========================================================================================================================
                                                         FNAME
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 720      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 20405    | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 20406    | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 20406    | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 20406    | Zero Count: N/A


========================================================================================================================
                                                        MOBILENO
========================================================================================================================
df5   → Rows: 734     | Nulls: 31     | Missing %:   4.22% | Dtype: object   | Unique: 690      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 8387   | Missing %:  32.15% | Dtype: object   | Unique: 13938    | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 8387   | Missing %:  32.15% | Dtype: object   | Unique: 13939    | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 8389   | Missing %:  32.15% | Dtype: object   | Unique: 13857    | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 8387   | Missing %:  32.15% | Dtype: object   | Unique: 13929    | Zero Count: N/A


========================================================================================================================
                                                       LANDLINENO
========================================================================================================================
df5   → Rows: 734     | Nulls: 30     | Missing %:   4.09% | Dtype: float64  | Unique: 691      | Zero Count: 0
df6   → Rows: 26087   | Nulls: 4887   | Missing %:  18.73% | Dtype: object   | Unique: 11198    | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 4887   | Missing %:  18.73% | Dtype: object   | Unique: 11061    | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 4889   | Missing %:  18.74% | Dtype: object   | Unique: 10990    | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 4887   | Missing %:  18.73% | Dtype: object   | Unique: 11347    | Zero Count: N/A


========================================================================================================================
                                                        HOUSENO
========================================================================================================================
df5   → Rows: 734     | Nulls: 24     | Missing %:   3.27% | Dtype: object   | Unique: 522      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 1054   | Missing %:   4.04% | Dtype: object   | Unique: 8089     | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 1054   | Missing %:   4.04% | Dtype: object   | Unique: 8089     | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 1056   | Missing %:   4.05% | Dtype: object   | Unique: 8027     | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 1054   | Missing %:   4.04% | Dtype: object   | Unique: 8014     | Zero Count: N/A


========================================================================================================================
                                                         STREET
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 554      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 926    | Missing %:   3.55% | Dtype: object   | Unique: 12096    | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 926    | Missing %:   3.55% | Dtype: object   | Unique: 12096    | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 928    | Missing %:   3.56% | Dtype: object   | Unique: 12096    | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 926    | Missing %:   3.55% | Dtype: object   | Unique: 12096    | Zero Count: N/A


========================================================================================================================
                                                          CITY
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 409      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 924    | Missing %:   3.54% | Dtype: object   | Unique: 6103     | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 924    | Missing %:   3.54% | Dtype: object   | Unique: 6103     | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 926    | Missing %:   3.55% | Dtype: object   | Unique: 6103     | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 924    | Missing %:   3.54% | Dtype: object   | Unique: 6103     | Zero Count: N/A


========================================================================================================================
                                                        POSTCODE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 260      | Zero Count: 0
df6   → Rows: 26087   | Nulls: 924    | Missing %:   3.54% | Dtype: object   | Unique: 1897     | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 924    | Missing %:   3.54% | Dtype: object   | Unique: 1897     | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 926    | Missing %:   3.55% | Dtype: object   | Unique: 1825     | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 924    | Missing %:   3.54% | Dtype: object   | Unique: 2909     | Zero Count: N/A


========================================================================================================================
                                                         EMAIL
========================================================================================================================
df5   → Rows: 734     | Nulls: 98     | Missing %:  13.35% | Dtype: object   | Unique: 622      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 19447  | Missing %:  74.55% | Dtype: object   | Unique: 5884     | Zero Count: N/A

### Keep Columns

In [14]:
# List of columns to keep
columns_to_keep = [
    'STARTDATE', 'ENDDATE', 'DATEOFCREATION', 'OFFMGRID', 'HOTSPOTID',
    'RETAILERID', 'SHOPTYPE', 'RETAILERMODE', 'RETAILER_STATUS',
    'TOTALSIM_TILLDATE', 'TOTALSIM_MONTH', 'NOOFACTIVATIONS_ALL',
    'TOTAL_NOOFACTIVATIONS', 'CALC_TOPUP1', 'PRE_B1_AMOUNT',
    'PRE_B2_LESS30', 'PRE_B2_GRT30', 'PRE_B3_LESS30', 'PRE_B3_GRT30',
    'PRE_B4_LESS30', 'PRE_B4_GRT30', 'ZERO_B1_OL_AMOUNT',
    'ZERO_B2_OL_AMOUNT', 'ZERO_B3_OL_AMOUNT', 'ZERO_B1_OFF_AMOUNT',
    'ZERO_B2_OFF_AMOUNT', 'ZERO_B3_OFF_AMOUNT', 'LAST_BUNDLE_COUNT', 'TIER',
    'ELIGIBLE_AMOUNT', 'LAST_MONTH_BUNDLE_ACTIVATION',
    'CURRENT_MONTH_RENEWAL', 'RENEWAL_PERCENTAGE', 'TOTAL_COMM'
]

# Keep only these columns
df5 = df5[columns_to_keep]
df6 = df6[columns_to_keep]
df7 = df7[columns_to_keep]
df8 = df8[columns_to_keep]
df9 = df9[columns_to_keep]

### Missing Values of All Data Frames

In [15]:
# Let's assume your DataFrames are named df5, df6, df7, df8, df9

dataframes = {
    'df5': df5,
    'df6': df6,
    'df7': df7,
    'df8': df8,
    'df9': df9
}

# Loop through each column (assuming all dataframes share the same columns)
for column in df9.columns:
    print("=" * 120)
    print(f"{column:^120}")   # nicely centered column name
    print("=" * 120)
    
    for name, df in dataframes.items():
        total_rows = len(df)
        dtype = df[column].dtype
        unique_values = df[column].nunique(dropna=True)
        null_count = df[column].isnull().sum()
        null_percent = (null_count / total_rows) * 100

        # Check if numeric and count zeros
        zero_count = df[column].eq(0).sum() if dtype in ['float64', 'int64'] else "N/A"
        
        print(f"{name:<5} → Rows: {total_rows:<7} | Nulls: {null_count:<6} | "
              f"Missing %: {null_percent:6.2f}% | Dtype: {str(dtype):<8} | "
              f"Unique: {unique_values:<8} | Zero Count: {zero_count}")
    
    print("\n")

========================================================================================================================
                                                       STARTDATE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 1        | Zero Count: 0
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0


========================================================================================================================
                                                        ENDDATE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 1        | Zero Count: 0
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 1        | Zero Count: 0


========================================================================================================================
                                                     DATEOFCREATION
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 504      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 1881     | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 1881     | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 1881     | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 1881     | Zero Count: N/A


========================================================================================================================
                                                        OFFMGRID
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 3        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 9        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 9        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 9        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 9        | Zero Count: N/A


========================================================================================================================
                                                       HOTSPOTID
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 23       | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 953    | Missing %:   3.65% | Dtype: object   | Unique: 82       | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 953    | Missing %:   3.65% | Dtype: object   | Unique: 82       | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 955    | Missing %:   3.66% | Dtype: object   | Unique: 82       | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 953    | Missing %:   3.65% | Dtype: object   | Unique: 82       | Zero Count: N/A


========================================================================================================================
                                                       RETAILERID
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 734      | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 26087    | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 26088    | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: object   | Unique: 26088    | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 26088    | Zero Count: N/A


========================================================================================================================
                                                        SHOPTYPE
========================================================================================================================
df5   → Rows: 734     | Nulls: 3      | Missing %:   0.41% | Dtype: object   | Unique: 11       | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 940    | Missing %:   3.60% | Dtype: object   | Unique: 13       | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 940    | Missing %:   3.60% | Dtype: object   | Unique: 13       | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 942    | Missing %:   3.61% | Dtype: object   | Unique: 13       | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 940    | Missing %:   3.60% | Dtype: object   | Unique: 13       | Zero Count: N/A


========================================================================================================================
                                                      RETAILERMODE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 3        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 3        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 3        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 3        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 3        | Zero Count: N/A


========================================================================================================================
                                                    RETAILER_STATUS
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: object   | Unique: 2        | Zero Count: N/A
df6   → Rows: 26087   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 2        | Zero Count: N/A
df7   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 2        | Zero Count: N/A
df8   → Rows: 26090   | Nulls: 925    | Missing %:   3.55% | Dtype: object   | Unique: 2        | Zero Count: N/A
df9   → Rows: 26088   | Nulls: 923    | Missing %:   3.54% | Dtype: object   | Unique: 2        | Zero Count: N/A


========================================================================================================================
                                                   TOTALSIM_TILLDATE
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 382      | Zero Count: 0
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 900      | Zero Count: 6
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 902      | Zero Count: 6
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 902      | Zero Count: 6
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 904      | Zero Count: 6


========================================================================================================================
                                                     TOTALSIM_MONTH
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 26       | Zero Count: 607
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 22       | Zero Count: 25737
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 23       | Zero Count: 25972
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 21       | Zero Count: 26007
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 14       | Zero Count: 26035


========================================================================================================================
                                                  NOOFACTIVATIONS_ALL
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 165      | Zero Count: 0
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 223      | Zero Count: 14458
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 230      | Zero Count: 14466
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 220      | Zero Count: 14510
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 227      | Zero Count: 14518


========================================================================================================================
                                                 TOTAL_NOOFACTIVATIONS
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 15       | Zero Count: 243
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 17       | Zero Count: 25578
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 22       | Zero Count: 25610
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 21       | Zero Count: 25661
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 25       | Zero Count: 25666


========================================================================================================================
                                                      CALC_TOPUP1
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 9        | Zero Count: 404
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 10       | Zero Count: 25680
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 11       | Zero Count: 25763
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 13       | Zero Count: 25777
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 13       | Zero Count: 25826


========================================================================================================================
                                                     PRE_B1_AMOUNT
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 25       | Zero Count: 475
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 30       | Zero Count: 25772
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 31       | Zero Count: 25775
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 35       | Zero Count: 25781
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 36       | Zero Count: 25793


========================================================================================================================
                                                     PRE_B2_LESS30
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 655
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 25973
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 7        | Zero Count: 25978
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 6        | Zero Count: 25986
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 6        | Zero Count: 25991


========================================================================================================================
                                                      PRE_B2_GRT30
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 696
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 26035
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 6        | Zero Count: 26039
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 5        | Zero Count: 26033
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 6        | Zero Count: 26031


========================================================================================================================
                                                     PRE_B3_LESS30
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 683
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 25987
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 25984
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 6        | Zero Count: 25987
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 25997


========================================================================================================================
                                                      PRE_B3_GRT30
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 708
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 26034
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 26039
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 4        | Zero Count: 26044
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 26038


========================================================================================================================
                                                     PRE_B4_LESS30
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 6        | Zero Count: 677
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 25989
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 25989
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 5        | Zero Count: 26000
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 25999


========================================================================================================================
                                                      PRE_B4_GRT30
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 695
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 3        | Zero Count: 26041
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 4        | Zero Count: 26046
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 4        | Zero Count: 26036
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: int64    | Unique: 5        | Zero Count: 26049


========================================================================================================================
                                                   ZERO_B1_OL_AMOUNT
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: float64  | Unique: 19       | Zero Count: 563
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: float64  | Unique: 23       | Zero Count: 25922
df7   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: float64  | Unique: 22       | Zero Count: 25937
df8   → Rows: 26090   | Nulls: 2      | Missing %:   0.01% | Dtype: float64  | Unique: 16       | Zero Count: 25951
df9   → Rows: 26088   | Nulls: 0      | Missing %:   0.00% | Dtype: float64  | Unique: 21       | Zero Count: 25973


========================================================================================================================
                                                   ZERO_B2_OL_AMOUNT
========================================================================================================================
df5   → Rows: 734     | Nulls: 0      | Missing %:   0.00% | Dtype: float64  | Unique: 24       | Zero Count: 566
df6   → Rows: 26087   | Nulls: 0      | Missing %:   0.00% | Dtype: float64  | Unique: 24       | Zero Count: 25911

### asdad

In [17]:

print(df5.shape)
print(df6.shape)
print(df7.shape)
print(df8.shape)
print(df9.shape)

(734, 34)
(26087, 34)
(26088, 34)
(26090, 34)
(26088, 34)

In [18]:
df8

,STARTDATE,ENDDATE,DATEOFCREATION,OFFMGRID,HOTSPOTID,RETAILERID,SHOPTYPE,RETAILERMODE,RETAILER_STATUS,TOTALSIM_TILLDATE,...,ZERO_B1_OFF_AMOUNT,ZERO_B2_OFF_AMOUNT,ZERO_B3_OFF_AMOUNT,LAST_BUNDLE_COUNT,TIER,ELIGIBLE_AMOUNT,LAST_MONTH_BUNDLE_ACTIVATION,CURRENT_MONTH_RENEWAL,RENEWAL_PERCENTAGE,TOTAL_COMM
0,20250726.0,20250825.0,17-07-2014,LMAZ-PF-EPAY,LMAZ-PF-EPAY-FT,ca2152nortwinds,REGULAR SHOP,0,ACTIVE,10.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
1,20250726.0,20250825.0,17-07-2014,LMAZ-PF-EPAY,LMAZ-PF-EPAY-FT,ca2158duraoldno,REGULAR SHOP,0,ACTIVE,10.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
2,20250726.0,20250825.0,17-07-2014,LMAZ-PF-EPAY,LMAZ-PF-EPAY-FT,ca2161oldgwoodv,REGULAR SHOP,0,ACTIVE,10.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
3,20250726.0,20250825.0,17-07-2014,LMAZ-PF-EPAY,LMAZ-PF-EPAY-FT,ca2166cabrjohns,REGULAR SHOP,0,ACTIVE,30.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
4,20250726.0,20250825.0,24-07-2014,LMAZ-PF-EPAY,LMAZ-PF-EPAY-FT,co7248mowbinver,REGULAR SHOP,0,ACTIVE,20.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26085,20250726.0,20250825.0,26-07-2014,LMAZ-PF-HEADOFFICE,LMAZ-PF-POSTAL-DUMY,1ws6062morlcolli,REGULAR SHOP,0,ACTIVE,11.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
26086,20250726.0,20250825.0,26-07-2014,LMAZ-PF-HEADOFFICE,LMAZ-PF-POSTAL-DUMY,1ws6100victshepp,REGULAR SHOP,0,ACTIVE,11.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
26087,20250726.0,20250825.0,26-07-2014,LMAZ-PF-HEADOFFICE,LMAZ-PF-POSTAL-DUMY,1ws6154boorrisel,REGULAR SHOP,0,ACTIVE,11.0,...,0.0,0.0,0.0,0.0,F,0.0,0.0,0.0,0.0,0.0
26088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df8.columns

Index(['STARTDATE', 'ENDDATE', 'DATEOFCREATION', 'OFFMGRID', 'HOTSPOTID',
       'RETAILERID', 'SHOPTYPE', 'RETAILERMODE', 'RETAILER_STATUS',
       'TOTALSIM_TILLDATE', 'TOTALSIM_MONTH', 'NOOFACTIVATIONS_ALL',
       'TOTAL_NOOFACTIVATIONS', 'CALC_TOPUP1', 'PRE_B1_AMOUNT',
       'PRE_B2_LESS30', 'PRE_B2_GRT30', 'PRE_B3_LESS30', 'PRE_B3_GRT30',
       'PRE_B4_LESS30', 'PRE_B4_GRT30', 'ZERO_B1_OL_AMOUNT',
       'ZERO_B2_OL_AMOUNT', 'ZERO_B3_OL_AMOUNT', 'ZERO_B1_OFF_AMOUNT',
       'ZERO_B2_OFF_AMOUNT', 'ZERO_B3_OFF_AMOUNT', 'LAST_BUNDLE_COUNT', 'TIER',
       'ELIGIBLE_AMOUNT', 'LAST_MONTH_BUNDLE_ACTIVATION',
       'CURRENT_MONTH_RENEWAL', 'RENEWAL_PERCENTAGE', 'TOTAL_COMM'],
      dtype='object')

In [26]:

df['RETAILERMODE'].value_counts()

SHOPTYPE
REGULAR SHOP     21972
CASH&CARRY        1536
PROF CHANNEL       761
MOBILE SHOP        365
BRANDING           146
SUPERMARKET        131
OFF LICENCE         50
regular             48
TOBACCO SHOP        48
INTERNET SHOP       34
KIOSK               27
STALL               22
of license           8
Name: count, dtype: int64

In [28]:
df8['RETAILERMODE'].unique()

array(['0', 'VIRTUAL', nan, 'WHITELISTED'], dtype=object)